<div class="bill-metainfo-wrapper">
  <table>
    <tr> 
      <td>   
        <span class="brand-name-in-bill"><%= BillingApp::Branding::ShopNameInRegionalLanguage %></span>
        <br/>
        <span class="brand-name-in-bill"><%= BillingApp::Branding::ShopName %></span>
        <br/>
        <%= BillingApp::Branding::ShopAddress %>
        <%= BillingApp::Branding::ShopCity %>
        <br/>
        GSTIN: <%= BillingApp::BillMetaInfo::GSTIN_No %>
        <br/>
        Ph no: <%= BillingApp::Branding::ShopContactNo %>
      </td>
      <td>
        <%= image_tag image_path("logo.png"), class: "logo-image align-right"%>
      </td>
    </tr>
    <tr>
      <th colspan="2" class="table-title">Tax Invoice</th>
    </tr>
    <tr>
      <td>Customer: <%= @bill.customer %></td>
      <td class="align-right">Bill No: <%= @bill.bill_no %></td>
    </tr>
    <tr>
      <td>Payment by: <%= @bill.payment_mode %></td>
      <td class="align-right">Bill Date: <%= @bill.date.strftime("%d-%m-%y %H:%M") %></td>
    </tr>
  </table>
</div>

<div class="bill-items-wrapper">
  <table>
    <tr>
      <th colspan="6" class="table-title">Purchase Items</th>
    </tr>
    <tr>
      <th>Sl no.</th>
      <th>Partiulars</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th>GST %</th>
      <th>Amount</th>
    </tr>
    <%= render @bill.bill_items.order(:sl_no) %>
    <tr>
      <th colspan="5">Total:</th>
      <th><%= number_to_currency(@bill.total, :precision => 2, :unit => '₹') %></th>
    </tr>
    <% if @bill.total %>
      <tr>
        <th colspan="6">(In words) Rupees <%= @bill.total.humanize.capitalize %> only</th>
      </tr>
    <% end %>
  </table>
</div>

<div class="bill-tax-calculations-wrapper">
  <table>
    <tr>
      <th colspan="5" class="table-title">Tax Calculations</th>
    </tr>
    <tr>
      <th>Tax Rate</th>
      <th>Taxable Amount</th>
      <th>CGST</th>
      <th>SGST</th>
      <th>Total Tax</th>
    </tr>
    <tr>
      <td>28%</td>
      <td><%= (@taxable_amount_for_28_percent).round(2) %></td>
      <td><%= (@taxable_amount_for_28_percent * 0.28 / 2).round(2) %></td>
      <td><%= (@taxable_amount_for_28_percent * 0.28 / 2).round(2) %></td>
      <td><%= (@taxable_amount_for_28_percent * 0.28).round(2) %></td>
    </tr>
    <tr>
      <td>18%</td>
      <td><%= (@taxable_amount_for_18_percent).round(2) %></td>
      <td><%= (@taxable_amount_for_18_percent * 0.18 / 2).round(2) %></td>
      <td><%= (@taxable_amount_for_18_percent * 0.18 / 2).round(2) %></td>
      <td><%= (@taxable_amount_for_18_percent * 0.18).round(2) %></td>  
    </tr>
    <tr>
      <th>Total</th>
      <th><%= number_to_currency(@taxable_amount_for_28_percent + @taxable_amount_for_18_percent, :precision => 2, :unit => '₹') %></th>
      <th><%= number_to_currency(@taxable_amount_for_28_percent * 0.28 / 2 + @taxable_amount_for_18_percent * 0.18 / 2, :precision => 2, :unit => '₹') %></th>
      <th><%= number_to_currency(@taxable_amount_for_28_percent * 0.28 / 2 + @taxable_amount_for_18_percent * 0.18 / 2, :precision => 2, :unit => '₹') %></th>
      <th><%= number_to_currency(@taxable_amount_for_28_percent * 0.28  + @taxable_amount_for_18_percent * 0.18, :precision => 2, :unit => '₹') %></th>
    </tr>
  </table>
</div>

<div class="bill-footnote-wrapper note">
  * Items once sold, cannot be returned or exchanged.
  <br />
  <span class="align-right">
    ________________<br/>
    Signature.
  </span>
</div>