<p id="notice"><%= notice %></p>

<h1>Bills</h1>

<table>
  <thead>
    <tr>
      <th>Bill no</th>
      <th>Date</th>
      <th>Payment mode</th>
      <th>Customer</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.bill_no %></td>
        <td><%= bill.date %></td>
        <td><%= bill.payment_mode %></td>
        <td><%= bill.customer %></td>
        <td><%= bill.total %></td>
        <td><%= link_to 'Show', bill %></td>
        <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
        <td><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Home', root_path %> | 
<%= link_to 'New Bill', new_bill_path %>
