<p id="notice"><%= notice %></p>

<table border="0">
  <tr>
    <th>GSTIN:</th>
    <td>29ABFPL0942C1ZY</td>
    <td></td>
    <th colspan="2">Address:</th>
  </tr>
  <tr>
    <th>Bill No:</th>
    <td><%= @bill.bill_no %></td>
    <td></td>
    <td colspan="2">Sidharth Automobiles</td>
  </tr>
  <tr>
    <th>Bill Date:</th>
    <td><%= @bill.date.strftime("%d-%m-%y %H:%M") %></td>
    <td></td>
    <td colspan="2">5th cross, Ashok nagar</td>
  </tr>
  <tr>
    <th>Payment mode:</th>
    <td><%= @bill.payment_mode %></td>
    <td></td>
    <td colspan="2">Mandya - 571401</td>
  </tr>
  <tr>
    <th>Customer:</th>
    <td><%= @bill.customer %></td>
    <td></td>
    <th>Ph no:</th>
    <td>08232-403018</td>
  </tr>
</table>

<table id="bill_items_wrapper" border="1">
  <tr>
    <th>Sl no.</th>
    <th>Partiulars</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>GST %</th>
    <th>Amount</th>
  </tr>
  <%= render @bill.bill_items, show_bill_item_action: false %>
  <tr>
    <th colspan="5">Total:</th>
    <td><%= @bill.total %></td>
  </tr>    
</table>

<table id="bill_tax_calculations_wrapper">
</table>