<p id="notice"><%= notice %></p>

<h1>Bill Details</h1>

<div width="60%" style="float:left;" class="bill-details">
  <%= render "bills/bill_details" %>
</div>

<div width="40%" style="float:right;" class="add-bill-item">
  <%= render "bill_items/form", bill_items_count: @bill.bill_items.size %>
</div>

<div style="clear:both;" class="links">
	<%= link_to 'All Bills', bills_path %> | 
	<%= link_to 'Edit', edit_bill_path(@bill) %> | 
	<%= link_to 'Print', '#', onclick: "javascript:print()" %>
</div>
