<p> Add New Item </p>

<%= form_for([@bill, @bill.bill_items.build]) do |f| %>
  <div class="field">
    <%= f.label :sl_no %>
    <%= f.text_field :sl_no, value: bill_items_count+1, readonly: true %>
  </div>

  <div class="field">
    <%= f.label :particulars %>
    <%= f.text_field :particulars %>
  </div>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
  </div>

   <div class="field">
    <%= f.label :unit_price %>
    <%= f.text_field :unit_price %>
  </div>

  <div class="field">
    <%= f.label :gst_rate %>
    <%= f.select :gst_rate, [12,18] %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>