<p id="notice"><%= notice %></p>

<h1>Bills Reporting</h1>

<%= form_tag(reports_path, :method => "get") do %>  
  <div class="input-group"> 
  	<%= label_tag 'Select Date Range:' %>
    <%= date_field_tag :start_date, params[:start_date] || Date.today  %> - <%= date_field_tag :end_date, params[:end_date] || Date.today %>
    <%= submit_tag "Filter" %>
  </div>  
<% end %>

<p id="notice">
	Showing results for date range : 
	<% if params[:start_date].present? %>
		<%= "#{params[:start_date]} to #{params[:end_date]}" %>
	<% else %>
		Today
	<% end %>
</p>

<% if @bills_28_percent_gst_cash_payment.present? and  @bills_28_percent_gst_cash_payment.size > 0 %>
	<%= render 'reports_detailed_tax_breakdown', bills: @bills_28_percent_gst_cash_payment, tax_rate: 28, payment_type: 'Cash' %>
<% end %>

<% if @bills_28_percent_gst_credit_payment.present? and  @bills_28_percent_gst_credit_payment.size > 0 %>
	<%= render 'reports_detailed_tax_breakdown', bills: @bills_28_percent_gst_credit_payment, tax_rate: 28, payment_type: 'Bank' %>
<% end %>

<% if @bills_18_percent_gst_cash_payment.present? and  @bills_18_percent_gst_cash_payment.size > 0 %>
	<%= render 'reports_detailed_tax_breakdown', bills: @bills_18_percent_gst_cash_payment, tax_rate: 18, payment_type: 'Cash' %>
<% end %>

<% if @bills_18_percent_gst_credit_payment.present? and  @bills_18_percent_gst_credit_payment.size > 0 %>
	<%= render 'reports_detailed_tax_breakdown', bills: @bills_18_percent_gst_credit_payment, tax_rate: 18, payment_type: 'Bank' %>
<% end %>